//- This is how we extend a template using the 'extends' keyword
extends ../../../templates/master.pug

//- This is how we insert dynamic content to extended templates
block content
    form(method="POST" action="/users/new")
        .field
            .label Name
            .control
                input.input(type="text" placeholder="enter your dog's name" name="name")
        .field
            .label Age
            .control
                input.input(type="number" placeholder="enter your dog's age" name="age")
        .field
            .label Breed
            .control
                input.input(type="text" placeholder="enter your dog's breed" name="breed")
        
        input(type="submit" value="Submit")